
@media (max-width: 980px) {

    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .header{
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    .whats {
        display: none;
    }


}

