
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #bef6ff;
    --cor2: #5558d5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
}

.navbar {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    height: 100px;
    /* background-color: cadetblue; */
    
}

.logo {
    flex: 20%;
    text-align: center;
    margin-left: 10%;
    /* border: 1px solid red;  */
}

.logo h1 {
    font-family: "Lobster", sans-serif;
    font-weight: normal;
    color: #180f4a;
    font-size: 34px;
    text-align: left;
}

.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
    /* border: 1px solid black; */
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    color: #180f4a;
    transition-duration: .3s;
}

.menu a:hover {
    color: #ff2978;
    border-top: 4px solid #180f4a;
}

#botao {
    background-color: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background-color: #ff2978;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.headline {
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black;  */
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
}

.headline p {
    color: #303030;
    text-align: left;
    margin-bottom: 15px;
}

.contact-btn {
    display: inline-block;
    background: #ff2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: .3s;
}

.contact-btn:hover {
    background-color: #180f4a;
}

.img-headline {
    margin-right: 8%;
    flex: 40%;
    /* border: 1px solid red; */
    text-align: right;
}